#root{
    display: flex;
    justify-content: center;   
}

.btnForm{
    border: none;
    color: #fff;
    font-size: 15px;
    width: 100px;
    border-radius: 5px;
    padding: 10px 0;
    margin-right: 10px;
    background-color: #B3382C;
    &:hover{
        color: black;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    &:focus{
        outline: none;
    }  
}


.modalOverlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    
    .modalWindow{
        width: 520px;
        border-radius: 5px;
        background-color: #E74C3C;
        margin: 100px auto;
        color: #fff;
        font-family: sans-serif;
        
        .modalHeader{
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            display: flex;
            justify-content: space-between;
            font-size: 22px;
            padding: 20px 30px;
            background-color: #D44637;
            .fa-times{
                padding: 5px;

                &:hover {
                    color: black;
                }
            }
        }
        .modalBody{
            font-size: 15px;
            text-align: center;
            line-height: 30px;
            padding: 30px;
        }
        .modalFooter{
            display: flex;
            justify-content: center;
            padding-bottom: 25px;

        }
    }

}